<!DOCTYPE html>
<html>

<head>
    <title>Login Index</title>
    <link href="static/bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <style>
    .loginBox {
        max-width: 90%;
        width: 500px
    }
    
    .stretch input {
        width: 100%
    }
    
   
    </style>
</head>

<body ng-app="IndexApp">
    <div ng-controller="LoginControl as Login" layout="column" layout-align="center center" layout-fill="layout-fill">
        <form layout="column" class="form loginBox md-whiteframe-z1" ng-submit="Login.login()">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Hospital Login</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>EmailAddress</label>
                    <input type="email" ng-model="Login.username" />
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="Login.password" />
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                    <div flex="flex"></div>
                    <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
                </div>
            </md-content>
        </form>
    </div>
    <script src="static/bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-material/angular-material.js" type="text/javascript"></script>
     <script src="static/app/authentication.js"></script>
    <script src="static/app/IndexApp.js"></script>

</body>

</html>
